<!-- Toggle Button -->
<button class="btn btn-primary m-2" (click)="toggleSidebar()">
  ☰
</button>

<!-- Sidebar -->
<nav class="sidebar bg-light vh-100" [ngClass]="{ 'collapsed-sidebar': isCollapsed }">
  <ul class="nav flex-column">
    <li class="nav-item mb-3 border border-dark rounded p-2">
      <span class="nav-link fw-bold text-uppercase label" [class.d-none]="isCollapsed">Main</span>
      <ul class="nav flex-column ms-3 mt-2" [class.d-none]="isCollapsed">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sale" routerLinkActive="active">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/edit-sale" routerLinkActive="active">Edit Sales</a>
        </li>
      </ul>
    </li>

    <li class="nav-item mb-3 border border-dark rounded p-2">
      <span class="nav-link fw-bold text-uppercase label" [class.d-none]="isCollapsed">Administración</span>
      <ul class="nav flex-column ms-3 mt-2" [class.d-none]="isCollapsed">
        <li class="nav-item">
          <a class="nav-link" routerLink="/category" routerLinkActive="active">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
        </li>
      </ul>
    </li>

    <li class="nav-item border border-dark rounded p-2">
      <span class="nav-link fw-bold text-uppercase label" [class.d-none]="isCollapsed">System</span>
      <ul class="nav flex-column ms-3 mt-2" [class.d-none]="isCollapsed">
        <li class="nav-item">
          <span class="nav-link disabled">Configuración</span>
        </li>
      </ul>
    </li>
  </ul>
</nav>
